@{
    ViewData["Title"] = "Login";
}

@model UserRegisterModel

@using (Html.BeginForm("Register", "Login", FormMethod.Post))
{
    <div class="form-group">
        
    </div>
    <div class="form-group">
        
    </div>
    <div class="form-group">
        
    </div>
    <div class="form-group">
        
    </div>
}