@model RailwayTicketOffice.Models.AvailableSeatsModel

@{
    ViewBag.Title = "Buy ticket";
    Layout = "_Layout";
}

<h2>Buy ticket</h2>

@foreach (var carriage in Model.Carriages)
{
    <div class="container">
        <div class="card border-danger">
            <button class="btn btn-danger" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-@carriage.Id"
                    data-target="#collapse-@carriage.Id">
                Carriage №@carriage.Id</button>
            <div class="collapse" id="collapse-@carriage.Id">
                @foreach (var seat in carriage.Seats)
                {
                    <span>Seat №@seat.NumberInCarriage</span>
                    <span>Type: @carriage.Type.ToString().ToLower()</span>
                    <span>Price: @carriage.Price</span>
                    <span>
                        <input type="hidden" name="tripId" value=@Model.TripId/>
                        <input type="hidden" name="seatId" value=@seat.SeatId/>
                        <input type="hidden" name="userEmail" value="@User.Identity.Name"/>
                        <input type="submit" value="Buy ticket">
                    </span>
                }

                kek
            </div>
        </div>
    </div>
}

@Html.ActionLink("Back", "Index", "Dashboard", null, new {@class = "btn btn-primary", style = "margin:30px"})